body {
    font-family: "Open Sans", sans-serif;
    background: url(../img/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  
  h1, h2, h3, h4, h5 {
    font-family: "Lobster", cursive; }
.container{
    width: auto !important;
}




.bgOpacity{
    opacity: 0.7;
    padding: 10px;
    border-radius: 5px;
}
.navbar{
    padding: 0 30px;
}

.nav-link{
    color: black;
    padding: 8px 0 0;
}

header li {
    float: left;
  }

  .alignCenter{
      text-align: center;
  }

  .jumbo{
      padding: 10px 30px;
      background-color: white;
      display: inline-block;
      border-radius: 5px;
  }

hr{
    margin: 0;
}

.btnBottom{
    position: absolute;
    left: 0;
    top: 85%;
    width: 100%;
}

.bot-but{
    opacity: 0.7;
    margin: 0 auto;
    font-weight: bold;
    border-radius: 5px;
}

.card{
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}

.bgNeeded {
    background-color: rgba(255, 255, 255, .7);
    padding: 40px 50px;
    border-radius: 5px;
}

.media {
    padding: 20px 0;
}

.bgWhiteSolid{
    background-color: white;
}

form{
    font-size: small;
}

.table tr td{
    border-radius: 5px;
}

.nitem{ 
    background-color: white !important;
    opacity: 1 !important;
    background-opacity: 1 !important;
}

.modal-header {
    background-color: #257754;
    color: moccasin;
}

.modal-body {
    background-color: #f54242;
    color: moccasin;
}

.modal-footer{
    background-color: orchid;
    color: moccasin;
}