body{
    background-color: rgb(255, 232, 204);

}

.gridImg{
    height: 300px;
    width: 300px;
    padding: 0;
    margin: 0;
}


.navbar {
    background-color: rgb(255, 232, 204);
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu main main main main'
    'menu menu footer footer footer footer';
  grid-gap: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.grid-container > div > p > .hor {
    display: inline;
    font-size: 10px;
}